.spinner {
    animation: spin 700ms linear infinite;
    border: 16px solid silver;
    border-radius: 50%;
    border-top: 16px solid #337AB7;
    height: 80px;
    left: 55%;
    position: absolute;
    top: 40%;
    width: 80px;
}

.errorMessage {
    background-color: #FFBABA;
    background-image: url('https://i.imgur.com/GnyDvKN.png');
    background-position: 10px center;
    background-repeat: no-repeat;
    border: 1px solid;
    color: #D8000C;
    margin: 10px 0px;
    padding: 15px 10px 15px 50px;
}

@keyframes spin {
    0% { transform: rotate(0deg) }

    100% { transform: rotate(360deg) }
}